/* CSS Demo Stylesheet */


/* ----------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* -----------------Responsive Images----------------- */  
img{
  max-width:100px;
}

/* -----------------Utility----------------- */

.container{
  width: 80vw;
  margin: 40px auto;
  max-width: 960px;
}



/* -----------------Global Styles----------------- */

body{
    font-family: "Libre Baskerville", serif;
    margin: 0;
}

header.primary {
  background-color: #2A8C82;
  padding: 40px;
  text-align: center;
}

header.primary h1{
  font-size: 3rem;
}

header.primary h1 a{

  text-decoration: none;
}

header.primary h2 {
  margin:0;
}

nav.primary{
  max-width: 960px;
  margin: auto;
}

nav.primary ul{
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav.primary ul li{
  list-style-type: none;
  
}

nav.primary ul li a{
  color: turquoise;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0, .5);
  transition: .3s;
}

nav.primary ul li a:hover{
  background-color: rgba(0,0,0, .8);
}

#intro{
  line-height: 1.6;
}

#intro h2{
  border-bottom: 1px dotted black;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0,0,0, .5);
  padding:10px;
  border-radius:4px;
  font-size:.8rem;
}

time.post-date, figcaption{
  text-transform:uppercase;
}

#content article.post figure{
  margin:0;
}


/* -----------------Media Queries----------------- */

@media screen and (max-width:600px){
  nav.primary ul{
    flex-direction: column;
    gap: 20px;
    max-width: 250px;
    margin: auto;
  }


  nav.primary ul a{
    display: block;
  }

}