
/* ----------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* -----------------Responsive Images----------------- */  

img{
  max-width:100%;
  border-radius: 20px;
}

/* -----------------Utility Classes----------------- */


.img-left {
 float: left;
 
}
.img-right {
  float: right;
 
}
.main {
  margin: auto;
}

.img-left, .img-right, .main{
  width: 400px;
  display: flex;
  
}


/* -----------------Global Styles-----------------  */

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

  header.primary {
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;

    
  }

  
  

  nav.primary ul{
    padding: 5px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
  }

  nav.primary ul li a{
    color: white;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0, .5);
    transition: .3s;
  }

  nav.primary ul li a:hover{
    background-color: rgba(0,0,0, .8);
  }

  body.index {
    font-family: "encode sans";
    background-image: url(../img/background-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
  }

  body.story {
    font-family: "encode sans";
    background-image: url(../img/background-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  body.creatures {
    font-family: "encode sans";
    background-image: url(../img/background-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  body.vehicles {
    font-family: "encode sans";
    background-image: url(../img/background-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  body h1{
    text-align: center;

  }

  #intro{
    text-align: center;
  }

  #content {
    color: white;
    background: rgba(0,0,0, .5);
    
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    max-height: fit-content;
    overflow: hidden;
    margin-bottom: 50px;
    
  }
  

  footer{
    background: rgba(0,0,0, .5);
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
    padding: 5px 0 5px 0;
  
  }

  footer a{
    color: aqua;
    
  }

  .fade {
    margin:40px auto;
    width:70vw;
    max-width:700px;
  }


.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}



.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}
/* -----------------Media Queries----------------- */
